body {
  background-color: aliceblue;
  font-size: 1rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

input {
  height: 1.75rem;
  width: 20rem;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

label {
  margin-top: 1rem;
}

input:focus {
  outline-style: solid;
  outline-color: rgb(0, 140, 255);
  transition: ease-in-out;
}

select {
  height: 1.75rem;
  width: 20rem;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

select:focus {
  outline-style: solid;
  outline-color: rgb(0, 140, 255);
  transition: ease-in-out;
}
